/* NAVBAR STYLES */

.navbar-brand img {
  height: 100px;
}

.nav-link {
  text-transform: uppercase;
  border-top: 0.1875rem solid rgba(255,255,255,0);
  margin: 0 2rem 0 2rem;
  color: #e6e8e6;
}

.nav-link:hover {
  border-top: 0.1875rem solid #9fb8ad;
}